@using Microsoft.AspNetCore.Components
@inject SessionState state

@if (AllDirtyWords != null && AllDirtyWords.Count > 0)
{
    @foreach (var word in AllDirtyWords)
    {
        @word <button class="btn btn-danger" @onclick="(()=> RemoveWord(word))">Remove</button>
        <br />
    }
}
else
{
    <div>No words</div>
}

<input @bind="@NewWord" />

<button class="btn btn-primary" @onclick="AddWord">Add</button>

@code {
    [Parameter]
    public List<string> AllDirtyWords { get; set; }

    string NewWord { get; set; }

    [Parameter]
    public string UserId { get; set; }

    void RemoveWord(string word)
    {
        AllDirtyWords.Remove(word);

        state.SetDirtyWords(UserId, AllDirtyWords);
    }

    void AddWord()
    {
        if (AllDirtyWords == null)
        {
            AllDirtyWords = new List<string>();
        }

        AllDirtyWords.Add(NewWord);

        state.SetDirtyWords(UserId, AllDirtyWords);
    }
}
